<nav>
    <ul>
      <!-- <li><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/admin/plans" routerLinkActive="active">Plans</a></li>
      <li><a routerLink="/admin/user" routerLinkActive="active">Users</a></li> -->
      <li><a routerLink="/customer/home" routerLinkActive="active">home</a></li>
      <li><a routerLink="/customer/view-plans" routerLinkActive="active">view plans</a></li>
      <li><a routerLink="/customer/active-subscriptions" routerLinkActive="active">subscriptions</a></li>
    </ul>
  </nav>