* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f1faff;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 5px 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(to right, #edc5c8, #d34848);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 480px;
    position: relative;
}

.left-section {
    width: 45%;
    text-align: center;
    height: 100%;
}

.Name {
    font-size: 36px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}

.description {
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
}
.illustrator{
 
    width:30px;
    height: 50px;

}

.login-container {
    width: 40%;
    margin-right: 5%;
}

.login-box {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.login-header h2 {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

.login-header .active {
    color: #d34848;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #d34848;
    text-decoration: none;
}

button[type="submit"] {
    background-color: #d34848;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.illustration {
    position: absolute;
    top: 5px;
    right: 95%;

    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d34848;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.illustrator {
    width:90%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrator img {
    margin-left: 50px;
    width: 80%;
    margin-top: -5%;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

  
  .header nav ul li {
    display: flex;
    align-items: center;
  }
  
  .header nav ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    color: #d34848;
    gap: 5px;
  }
  
   .header nav ul li a:hover {
    text-decoration: underline;
} 